<ion-list>
  <header>
    <h2 class="title" *ngIf="solicitudes.length > 0;">Personas interesadas en unirse a tu equipo</h2>
    <div class="no-solicitudes" *ngIf="solicitudes.length == 0;">
      <ion-icon name="information-circle-outline"></ion-icon>
      <h3>No hay solicitudes pendientes</h3>
    </div>
  </header>

  <ion-item *ngFor="let solicitud of solicitudes" class="solicitud-item" detail="false">
    <ion-icon slot="start" name="person-add-outline"></ion-icon>
    <ion-label>
      <div class="corredor-info">
        <strong>Corredor:</strong><br>
        <span class="nombre">{{ solicitud.corredor.persona.nombre }} {{ solicitud.corredor.persona.apellido }}</span><br>
        <strong>Fecha de petición:</strong> 
        <time>{{ solicitud.fechaCreacion | date: 'short' }}</time>
      </div>
    </ion-label>

    <div class="botones-acciones">
      <ion-button class="aceptar" (click)="aceptarSolicitud(solicitud)" >
        <ion-icon name="checkmark-circle"></ion-icon>
        <span class="texto-boton"> Aceptar </span> 
      </ion-button>
      <ion-button class="rechazar" (click)="rechazarSolicitud(solicitud)" >
        <ion-icon name="close-circle"></ion-icon>
        <span class="texto-boton"> Rechazar </span>
      </ion-button>
    </div>
  </ion-item>

</ion-list>
