<ion-header>
  <ion-toolbar>
    <ion-title>{{ carrera.nombre }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="carrera-card">
    <ion-img [src]="'assets/images/' + identificacionCorta + '-MAIN.jpg'" alt="Imagen de la carrera" class="carrera-image"></ion-img>
    <ion-card-content>
      <h2 class="carrera-titulo">{{ carrera.nombre }}</h2>
      <!-- <p class="carrera-descripcion">{{ carrera.descripcion }}</p> -->
    </ion-card-content>
  </ion-card>

  <ion-list class="carrera-detalles">
    <ion-item>
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>
        <h3>Ubicación</h3>
        <p>{{ carrera.ubicacion }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>
        <h3>Fecha de carrera</h3>
        <p>{{ carrera.fechaCarrera | date:'fullDate':'':'es' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar-sharp"></ion-icon>
      <ion-label>
        <h3>Fecha cierre inscripciones</h3>
        <p>{{ carrera.fechaCierreInscripciones | date:'fullDate':'':'es' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>
        <h3>Responsable</h3>
        <p>{{ carrera.responsable }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="carrera.distancia">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>
        <h3>Distancia</h3>
        <p>{{ carrera.distancia }} Km</p>
      </ion-label>
    </ion-item>
    <ion-item  *ngIf="carrera.cupoMaximo">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>
        <h3>Participantes</h3>
        <p>{{ carrera.cupoMaximo }}</p>
      </ion-label>
    </ion-item>
    <ion-item  *ngIf="carrera.edadMinima">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>
        <h3>Edad mínima</h3>
        <p>{{ carrera.edadMinima }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="carrera.edadMaxima">
      <ion-icon name="accessibility-sharp"></ion-icon>
      <ion-label>
        <h3>Edad máxima</h3>
        <p>{{ carrera.edadMaxima }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon [name]="carrera.estado ? 'checkmark-circle' : 'alert-circle'" [color]="carrera.estado ? 'success' : 'warning'"></ion-icon>
      <ion-label>
        <h3>Estado</h3>
        <p>{{ carrera.estado ? 'Activo' : 'Inactivo' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon [name]="carrera.estadoGrupos ? 'checkmark-circle' : 'alert-circle'" [color]="carrera.estadoGrupos ? 'success' : 'warning'"></ion-icon>
      <ion-label>
        <h3>Opcion de grupos</h3>
        <p>{{ carrera.estadoGrupos ? 'Disponible' : 'No Disponible' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="inscribirse()" *ngIf="puedeInscribir(carrera) && !home" class="inscribirse-btn">
    Inscribirse
  </ion-button>
</ion-content>